{% extends 'base.html' %}

{% block content %}

<div class="">
    <p class="font-weight-bold">Exercise Name: {{exercise.name}}</p>
    <p class="font-weight-bold">Exercise Type: {{exercise.type}}</p>
    <p class="font-weight-bold">Muscle Type: {{exercise.muscle}}</p>
    <p class="font-weight-bold">Equipment: {{exercise.equipment}}</p>
    <p class="font-weight-bold">Difficulty: {{exercise.diffculty}}</p>
    <p class="font-weight-bold">Instructions: {{exercise.instructions}}</p>
</div>

{% endblock %}