{% extends 'base.html' %} 

{% block content %}

<h1 class="text-center">Create a new Workout Set!</h1>

<div class="d-flex justify-content-center">
    <form method="POST">
        {{form.hidden_tag()}}
        {% for field in form if field.widget.input_type != 'hidden' %}
    
        <div>
            {{field.label}}<br>
            {{field}}
        </div>
    
        {% endfor %}
        <br>
        <button class="btn btn-light" type="submit">Add</button>
    </form>
</div>


{% endblock %}