{% extends 'base.html' %}

{% block content %}

<div class="">
    <h1 class="text-center">{{ workout.title }}!</h1>
    <p class="text-center">Created by: {{g.user.username}}</p>
    <p class="text-center">Description: {{ workout.description }}</p>
    <p class="text-center">Duration: {{ workout.duration }} mins</p>
    <p class="text-center">Reps: {{ workout.reps }}</p>
</div>


<div class="">
    <p class="text-center">Exercises in this Workout:</p>
    {% for exercise in workout.exercises %}
        <a class="d-flex justify-content-center" href="/exercises/{{exercise.id}}">{{exercise.name}}</a>
    {% endfor %}
  </ul>
</div>

<div class="d-flex justify-content-center">
    <a class="btn btn-light" href="/workouts/{{ workout.id }}/add">
        Add Exercise To Workout
    </a>
    <a class="btn btn-danger" href="/workouts/{{ workout.id }}/delete">
        Delete Workout
    </a>
</div>

{% endblock %}